<footer class="text-center">
  <br>
  <div class="pb-3">
    <a href="#" class="fa fa-facebook-square" style="padding: 0px; border-radius:5px; font-size: 23px;"></a>&nbsp;
    <a href="#" class="fa fa-instagram" style="padding: 0px; border-radius:5px; font-size: 23px;"></a>&nbsp;
    <a href="#" class="fa fa-linkedin-square" style="padding: 0px; border-radius:5px; font-size: 23px;"></a>
  </div>
</footer>
<footer class="" style="color: white; height: 50px;">
  <div class="container" style="padding-top:2px;">
    <div class="row">
      <div class="col-sm ml-4">
        <span routerLink='about' type="button" class="footer_color">
          ABOUT
        </span>
      </div>
      <span class="line"></span>
      <div class="col-sm ml-4">
        <span  type="button" class="footer_color">
          CARE
        </span>
      </div>
      <span class="line"></span>
      <div class="col-sm ml-4">
        <span  type="button" class="footer_color">
          RETURNS
        </span>
      </div>
      <span class="line"></span>
      <div class="col-sm ml-4">
        <span routerLink='pro' type="button" class="footer_color">
          PRODUCTION
        </span>
      </div>
      <span class="line"></span>
      <div class="col-sm ml-4">
        <span type="button" class="footer_color">
          TERMS
        </span>
      </div>
      <span class="line"></span>
      <div class="col-sm ml-4">
        <span type="button" class="footer_color">
          GET-HELP
        </span>
      </div>

      <!-- <div class="col-sm">
        <button routerLink='care' mat-button class="menu-button fbutton">
          CARE
        </button>
      </div>
      <span class="line"></span>
      <div class="col-sm">
        <button routerLink='returns' mat-button class="menu-button fbutton">
          RETURNS
        </button>
      </div>
      <span class="line"></span>
      <div class="col-sm ">
        <button routerLink='production' mat-button class="menu-button fbutton">
          PRODUCTION
        </button>
      </div>
      <span class="line"></span>
      <div class="col-sm ">
        <button routerLink='terms' mat-button class="menu-button fbutton">
          TERMS
        </button>
      </div>
      <span class="line"></span>
      <div class="col-sm">
        <button routerLink='getHelp' mat-button class="menu-button fbutton">
          GET HELP
        </button>
      </div> -->
    </div>
  </div>
</footer>

<!-- <router-outlet></router-outlet> -->