<footer class="text-center">
  <br>
  <a href="#" class="fa fa-facebook-square" style="padding: 0px; border-radius:5px; font-size: 23px;"></a>&nbsp;
  <a href="#" class="fa fa-instagram" style="padding: 0px; border-radius:5px; font-size: 23px;"></a>&nbsp;
  <a href="#" class="fa fa-linkedin-square" style="padding: 0px; border-radius:5px; font-size: 23px;"></a>
</footer>
<footer class="" style="color: white;">
  <div class="container" style="padding-top:2px;">
    <div class="row">
      <div class="col-sm">
        <button routerLink='about' mat-button class="menu-button fbutton">
          ABOUT
        </button>
      </div>
      <span class="line"></span>
      <div class="col-sm">
        <button routerLink='care' mat-button class="menu-button fbutton">
          CARE
        </button>
      </div>
      <span class="line"></span>
      <div class="col-sm">
        <button routerLink='returns' mat-button class="menu-button fbutton">
          RETURNS
        </button>
      </div>
      <span class="line"></span>
      <div class="col-sm ">
        <button routerLink='production' mat-button class="menu-button fbutton">
          PRODUCTION
        </button>
      </div>
      <span class="line"></span>
      <div class="col-sm ">
        <button routerLink='terms' mat-button class="menu-button fbutton">
          TERMS
        </button>
      </div>
      <span class="line"></span>
      <div class="col-sm">
        <button routerLink='getHelp' mat-button class="menu-button fbutton">
          GET HELP
        </button>
      </div>
    </div>
  </div>
</footer>
