footer {
  background-color: black;
}
.line {
  border-right: 3px solid #bbb;
  height: 15px;
  margin: 10px 5px 0 5px;
}

.fbutton{
  background: transparent;
    color: white;
    outline: none;
}
.fa {
  padding: 10px;
  font-size: 10px;
  width: 19px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #DD2A7B;
  color: white;
}


