<div class="col-sm-12">
    <ol class="breadcrumb hidden-ms hidden-xs About us">
        <li><a href="/" class="gray-light ng-binding">Home</a></li>
        <li class="active ng-binding">About us</li>
    </ol>
    <h1 class="static-page-heading About us about-us">
        About us
    </h1>
  
    <div class="static-page-description">
        <div class="ms-mb-x static-page-content ng-binding" ng-bind-html-unsafe="page.content"><div class="ng-scope"><div class="row about1 height-md-100">
  <div class="col-md-12 text-center middleText ms-pt-x ms-mt-x">
  <div class="greytext" style="margin-top:15pc">Acecraft was founded in Bengaluru, India, in the summer of 2016.</div>
  </div>
  </div>
  
  <div class="row about2 height-md-100 bg-grey text-black">
  <div class="col-md-12 text-center middleText">
  <h1 class="proximaBold textalign_black">Brand Story</h1>
  <div>Being the best, for the best.</div>
  <div class="my-2">Ever since our inception in 2016, we have always strived to change one aspect - the stagnant nature of organizational clothing. What was initially started as a student startup, has now evolved to become one of India's fastest-growing clothing companies. At acecraft, we believe in creating products that not only look premium but feel that way as well. Each garment reflects what we stand for as a brand, as well as the organization it is perfectly handcrafted for. Fueled by high-quality fabrics, backed by unique product design and complemented by exquisite craftsmanship, every product we create is an experience in itself.</div>
  <div class="my-2">Welcome to the reinvented.</div>
  <div class="mt-2 mb-4">Welcome to acecraft.</div>
  </div>
  </div>
  
  <div class="row about3 bg-grey text-black">
  <div class="container height-md-100 text-center">
  <h1 class="proximaBold textalign_black" style="flex-basis: 100%;">What We Believe</h1>
  <div class="col-md-6">
  <div style="margin: auto; max-width: 350px;">To reinvent uniforms and emphasize on dressing done the smart way, focusing on product design, fit, feel and finish.</div>
  <div style="margin: auto; max-width: 350px;" class="ms-mt-l">We celebrate the principles of a truly custom-made uniform, and embrace the technology that allows us to make it available to everyone, everywhere.</div>
  </div>
  <div class="col-md-6">
  <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/About-us-2.jpg" class="img-responsive" style="width:110%">
  </div>
  </div>
  </div>
  <div class="row about4">
  <div class="container height-md-100 text-center">
  <h1 class="proximaBold text-center textalign" style="margin: 23px;">What we make</h1>
  <div class="col-md-6">
  <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/About-us-31.jpg" class="img-responsive" style="width:110%">
  </div>
  <div class="col-md-6">
  <h4 style="margin-left:70px;"><span style="color: #ada7a7; font-size: 18px;">Designer uniforms, custom-fitted for every customer.<span></span></span></h4>
  <!-- <h2 class="greytext">Designer uniforms, custom-fitted for every customer.</h2> -->
  </div>
  </div>
  </div>
  
  <div class="row about3">
  <div class="container height-md-100 text-center">
  <div class="col-md-6 content ms-p-0">
  <div>We deeply believe in using only the highest quality materials, with a superior look and feel, and  a durability that will dramatically increase the lifespan of the product.</div>
  </div>
  <div class="col-md-6">
  <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/About-us-41.jpg" class="img-responsive" style="width:110%">
  </div>
  </div>
  </div>
  
  <div class="row about5">
  <div class="container height-md-100 text-center">
  <div class="col-md-6"></div>
  <div class="col-md-6 content">
  <div>Our materials are sourced from the best vendors around India and are hand-selected based on their quality, and the ethically sound nature of their production.</div>
  </div>
  </div>
  </div>
  
  <div class="row about6">
  <div class="container height-md-100 text-center">
  <div class="col-md-6 content">
  <div>All our production is done in India.</div>
  </div>
  <div class="col-md-6"></div>
  </div>
  </div>
  
  <div class="team row">
  <h1 class="text-center proximaBold textalign">Our Team</h1>
  <div class="container first-row">
  <div class="boxed">
  <h1 class="proximaThin">Aman Jain</h1>
  <p>CEO &amp; Founder</p>
  </div>
  <div class="boxed">
  <h1 class="proximaThin">Varun Meghani</h1>
  <p>CMO &amp; Co- Founder</p>
  </div>
  <div class="boxed">
  <h1 class="proximaThin">Santhosh S</h1>
  <p>Customer Relations Executive</p>
  </div>
  <div class="boxed">
  <h1 class="proximaThin">Prajwal Ravi</h1>
  <p>Customer Relations Executive</p>
  </div>
  <div class="boxed">
  <h1 class="proximaThin">Divakar R</h1>
  <p>Production Merchandiser</p>
  </div>
  </div>
  <div class="container second-row">
  <div class="boxed">
  <h1 class="proximaThin">Mansoor Ahmed</h1>
  <p>Junior Production Merchandiser</p>
  </div>
  <div class="boxed">
  <h1 class="proximaThin">Prerana Jain</h1>
  <p>Administrator</p>
  </div>
  <div class="boxed">
  <h1 class="proximaThin">Harsha</h1>
  <p>Back End Support Staff</p>
  </div>
  <div class="boxed">
  <h1 class="proximaThin">Shashi Kumar</h1>
  <p>Back End Support Staff</p>
  </div>
  <div class="boxed">
  <h1 class="proximaThin">Muthappa</h1>
  <p>Back End Support Staff</p>
  </div>
  </div>
  
  <div class="text-center">
  <h1 class="footer-head greytext">Want To Join The Team?</h1>
  <p class="footer-p greytext">Send your Resume to job@acecraft.in</p>
  </div>
  </div>
  
  </div></div>
  </div>
  </div>
  <app-footer></app-footer>
  
  