
<div class="navigation fixed-top">
  <h1 class="heading" routerLink='Home'>
      acecraft
  </h1>
<nav class="navbar navbar-expand-lg " style="color: rgb(255, 255, 255);">
  <button class="navbar-toggler" style="color:white;" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="fa fa-bars" style="color:white">
    </span>
  </button>
  <div class="collapse navbar-collapse text-center " id="navbarSupportedContent">
    <ul class="navbar-nav" style="margin-left: 400px;">
      <li class="nav-item">
        <a class="nav-link" href="#"><b style="margin-right:23px">SCHOOL</b></a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="#"><b style="margin-right:23px">COLLEGE</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><b style="margin-right:23px">ENTERPRISE</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><b style="margin-right:23px">NOTES</b></a>
      </li>
    </ul>
    <ul class="navbar-nav" style="margin-left:280px">
      <li class="nav-item">
      <div class="dropdown">
        <a class="menu-button " mat-button style="font-size:20px;color:white" type="button" data-toggle="dropdown"
        data-target="#collapseExample1" aria-controls="collapseExample1" aria-expanded="false">
        <!-- <span class="fa fa-cog"></span> -->
        <img
         style="width: 21px; margin-right: 50px;"
        src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/setting.png" alt="">
      </a>
        <div class="dropdown-menu" style="background: transparent;
        background-image: linear-gradient(to left, rgb(0 0 0),#5a131300);
        height: 100vh;
        border: none;">
          <li class="nav-item" *ngIf="auth">
            <div class="nav-link" routerLink='login'>
              <span class="drop-items">Sign In 
                <span class='fa fa-solid fa-sign-in drop-items'></span></span>
              
            </div>
          </li>
          <li class="nav-item" *ngIf="auth">
            <div class="nav-link" routerLink='register' >
              <span class="drop-items">Register
              
              <span class='fa fa-solid fa-registered drop-items'></span>
              </span>
             
            </div>
          </li>
          <li class="nav-item" *ngIf="auth">
            <div class="nav-link" routerLink='orderStatus'>
              <span class="drop-items">Order
               
              <span class='fa fa-solid fa-calendar drop-items' ></span>
            </span>
      
              
          </div>
          </li>
          <li class="nav-item" style="text-decoration: none;">
            <div class="nav-link" routerLink='contact'>
              <span class="drop-items">Contact  <span class='fa fa-solid fa-address-book drop-items' ></span></span>
          </div>
          </li>
        </div>
      </div>
    </li>
      <li class="nav-item ">
        <button mat-button routerLink='cartItem' matBadge="" matBadgePosition="after" color="gray" style="outline:none;background: transparent;" ngModel>
          <span class="fa fa-shopping-cart" style="font-size:20px;color:white; ">
            <sup class="text-light" style="font-size: 15px;
            margin-left: 3px;
            background-color: grey;
            padding: 0px 4px 2px 1px;
            border: 1px solid grey;
            border-radius: 23px;">
               <!-- {{getCartCount()}} -->
               0
              <!-- 1 -->
          </sup></span>
        </button>
      </li>
      <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">+</button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Offcanvas right</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    ...
  </div>
</div> -->
      <!-- <li class="nav-item " *ngIf="auth">
        <button routerLink='login' mat-button class="menu-button">
          <span>LOGOUT</span>
        </button>
      </li> -->
    </ul>
  </div>
</nav>
<!-- <nav class=" navbar navbar-expand-sm ">
  <ul id="collapseExample1" class=" ml-auto collapse "
    style="background-color:transparent ;color:argb(74, 104, 104);color: aliceblue;">
    
  </ul>
</nav> -->
</div>