/* Sidebar */
ul {
  list-style-type: none;
}
.line {
  border-left: 3px solid rgb(102, 95, 95);
  height: 15px;
  margin: 10px 5px 0 5px;
}

.drop-items{
  font-size: 25px;
  padding: 4px;
  color: #514e4e;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.nav-item{
  cursor: pointer;
  font-size: 14px;
}

.nav-link:hover{
  color: white;
  border-bottom: 1px solid grey;
}

.drop-items:hover{
  color: white;

}

.firstnav{
  margin-right: 20px;
}

.nav-link{
  color: grey;
}
.navigation{

  background-color: black;

}

.heading{
  color: white;
    font-size: 30px;
    font-family: Courier New;
    letter-spacing: 10px;
    padding-top: 15px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}
