<app-account></app-account>
<div class="container-fluid" >
    <div class="container justified" style="padding-top: 60px;">
       <h2 class="grey_text">YOUR INFO</h2>
       <h2 class="white_text">Change password <span style="padding-left: 3rem;">Edit</span></h2>
    </div>
    <div class="container">
        <div class="white_box">
          <div class="row m-auto">
            <div class="col-lg-4" style="margin-top: 50px;">
                <div class="justified">
                    <h5 class="grey_text">NAME</h5>
                    <h5 class="grey_text">John</h5>
                  </div>
                  <div class="justified">
                    <h5 class="grey_text">EMAIL</h5>
                    <h5 class="grey_text">john@gmail.com</h5>
                  </div>
            </div>
            <div class="col-lg-8">
                
            </div>
            <!-- <div class="col-lg-4">
                
            </div> -->
          </div>
          <!-- <div class="justified">
            <h5>NAME</h5>
            <h5>EMAIL</h5>
          </div> -->
        </div>
    </div>
   
</div>
<app-footer></app-footer>