<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 school" id="school">
      <div class="text-block1 text-center">
        <h1>Choose Class
        </h1>
        <p class="p">over the common</p>
      </div>
      <a class="links" style="left:500px; "href="">ACECRAFT FOR COLLEGE <span class="fa fa-chevron-right" id="pot"></span></a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 imgHover" id="college">
      <figure>
        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/home3.jpg">
      </figure>
      <div class="text-block text-center">
        <h1>A grade</h1>
        <p class="p">of Greatness</p>
      </div>
      <a class="links" href="" style="left: 230px;">ACECRAFT FOR SCHOOL  <i class="fa fa-chevron-right" ></i> </a>
    </div>
    <div class="col-lg-6 imgHover" id="enterprises">
      <figure>
        <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/home4.jpg">
      </figure>
      <div class="text-block text-center">
        <h1>Work wear</h1>
        <p class="p">Redefined</p>
      </div>
      <a class="links" style="left: 206px; " href="">ACECRAFT FOR ENTERPRISE <i class="fa fa-chevron-right" ></i>  </a>
    </div>
  </div>
</div>
<app-footer></app-footer>