.container-fluid {
    margin: 0;
   
    background-color: black;
}
div #school {
    background-image: url("http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Home-1.jpg");
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
   
}

div #enterprises {
    height: 800px;
    overflow: hidden;
}
div #college {
    height: 800px;
    overflow: hidden;
}
img {
    width: 100%;
    height: 100%;
}
.container {
    position: relative;
    font-family: Arial;
}
.p{
  color: rgb(87, 82, 82);
  font-size:25px;
  font-weight: bold;
}
.text-block1 {
    position: absolute;
    bottom: 20%;
    right: 40%;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid white;
}
.text-block {
    position: absolute;
    bottom: 20%;
    right: 33%;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid white;
}
p {
    font-weight: 500px;
    color: rgb(250, 249, 250);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.links {
    position: absolute;
    text-decoration: none;
    bottom: 15%;
    right: 33%;
    color: white;
}
/*image hover */
figure {
    overflow: hidden;
}
.imgHover figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.imgHover figure:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#pot {
    bottom: 15%;
    position: absolute;
    animation: linear infinite;
    animation-name: run;
    animation-duration: 1s;
  }
   @keyframes run {
    0% {
      left: 52%;
    }
    50% {
      left: 54%;
    }
    100% {
      left: 52%;    
    }
  }



  