<div class="col-sm-12" style="margin-top: 120px;">
  <div class="row">
    <div class="col-lg-5 col-12">
        <div class="text_container">
            <div class="top_margin">
                <h1 class="textalign">Constructing our uniforms.</h1>
                <div class="textalign_para"><p>This is where our uniforms start to take shape. Each garment is carefully sewn together using tried and tested techniques.</p> In contrary to most mass-produced factories where each part of the garment is assembled by a different person, our uniforms are constructed by the same person from start to finish.<p></p></div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-12">
      <div class="container">
        <img src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/acecraft1.jpg" alt="" class="imgcontainer">
      </div>
    </div>
  </div>
    <div class="container mt-5" style="height:330px;">
        <div class="row">
        <div class="col-lg-6 col-12">
            <video width="100%" autoplay="" loop="" muted="" playsinline="" controls="">
                <source src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Banner 5 1st half.mp4" type="video/mp4">
                </video>
        </div>
        <div class="col-lg-6 col-12">
            <video width="100%" autoplay="" loop="" muted="" playsinline="" controls="">
                <source src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Banner 5 2nd half.mp4" type="video/mp4">
                </video>
        </div>
      </div>
      </div>
      <div  style="height:200px;">
        <h1 class="textalign">Branding.</h1>
        <div class="textalign_para">Your identity is integral.<br>We make sure that our garments have the customized logo and branding as desired by you. We use three methods to represent what you believe in:</div>
        <div class="textalign_para my-3">
            - Embroidery<br>
            - Screen Print <br>
            - Sublimation Print
            </div>
      </div>
   
        <div class="second_container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="second_text_container">
                            <h1 class="textalign">Finishing quality check.</h1>
                            <div class="textalign_para">The garment is given a final check to ensure that the measurements are as specified by the customer. Each uniform is also checked for construction errors or other irregularities.</div>
                            <div class="textalign_para mt-2">The garment is given a quick ironing and packaged carefully before being shipped.</div>
                    </div>
                </div>
                <div class="col-lg-1 col-12"></div>
                <div class="col-lg-5 col-12" >
                  <div class="second_img_container">
                    <img src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/acecraft2.jpg" alt="" class="imgcontainer" style="width: 80%">
                  </div>
                </div>
              </div>
        </div>

        <div class="third_container mt-2">
            <div class="row third_text_container">
                <video width="100%" autoplay="" loop="" muted="" playsinline="" controls="">
                <source src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Assembly Line.mp4" type="video/mp4">
                </video>
                <div class="z_index">
                <h1 class="textalign">Shipped across the country.</h1>
                <div class="textalign_para">Our uniforms are shipped nationwide using express shipping, and are delivered straight to the preferred address of the customer.</div>
                </div>
                </div>
        </div>
        
</div>